.dark,
.dark * {
	$dark_text_color: #f6f6f6;
	$dark_link_color: #fff;
	$dark_hover_color: #db7500;
	$dark_code_color: #bebebe;
	$dark_code_background_color: #101010;
	background-color: #171717;
	// color: $dark_text_color;
	border-color: #e6e6e6;

	p, h1, h2, .posts h2 a, .post-date, li, h3, h4, table {
		color: $dark_text_color;
	}

	.post-title:hover, .posts h2 a:hover{
		color: $dark_hover_color;
	}

	.about{
		img.light {
			display: none;
		}
		img.dark {
			display: inline;
		}
	}
	.post p {
		color: #ddd;
	}

	.social [class^="icon-"] {
		color: $dark_text_color;
		&:hover{
			 color: $dark_hover_color;
			}
	}

	#posts-label {
		color: $dark_text_color;
		border-bottom: 1px solid #272727;
	}

	@import 'ext/solarized-dark';
	.highlight, .highlight *
	{
		background-color: $dark_code_background_color;
		color: $dark_code_color;
	}

	div.highlight-dark {
		padding: 5px 20px;
	}
	pre.highlight-dark, code {
		font-family: 'Consolas', Menlo, monospace;
		line-height: 1.4em;
		tab-size: 4;
		background-color: $dark_code_background_color;
		color: $dark_code_color;
	}

	.post-categories {
		li {
			background-color: #333;
			color: #fff;
		}
	}

	.gist-meta a {
		background: transparent;
	}

	.gist .blob-code, .gist .blob-num {
		background-color: #eaeaea;
		border: transparent;
	}

	[class^="pl"] {
		background-color: transparent;
	}

	a {
		color: $dark_link_color;
		&:hover {
			color: $dark_hover_color;
		}
	}
	#title a {
		color: #fff;
		&:hover {
			color: $dark_hover_color;
		}
	}

	.posts-labelgroup {

		border-bottom: 1px solid #333;
		.search-results {
			background-color: #333;

			a {
				color: white;

				&:hover {
					background-color: #171717;
				}
			}
		}

		.search-section i {
			background-color: transparent;
		}
	}

	.posts-labelgroup:hover {

		i {
			color: white;
		}

		input {
			color: white;
		}
	}


	.posts-labelgroup.focus-within {

		.search-section {
			background-color: #333;
		}

		input {
			color: $dark_text_color;
		}

		i {
			color: white;
		}
	}
}
.dark table {
	th, td {
		border: 1px solid #333;
	}
	th {
		background-color: #0d0d0d;
	}
}
